# Python
.Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage/
*.mo
*.pot
*.log
.ipynb_checkpoints
.env
.venv
venv/
*.egg-info/
.pytest_cache/

# VSCode
.vscode/

# Operating System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db